/**** CABEÇALHO ****/
#global-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;

	background-color: rgb(99, 105, 113);
}

/**** RODAPÉ ****/
#global-footer {
	/* Posicionar em baixo */
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
	
	text-align: center;

	background-color: rgb(99, 105, 113);

	font-family: "CMUConcreteRoman", serif;
}

/* Caixa de digitação de email */
#newsletter-input-box {
	font-family: "CMUConcreteRoman", serif;

	width: 80%;
	height: 20px;
}

#newsletter-input-box::placeholder {
	font-style: italic;
}

#newsletter-input-box:focus {
	outline: 1px;
	outline-style: dashed;
}